.imagebackground {background-color: grey;padding:50px;background-image: url(https://vignette.wikia.nocookie.net/lego/images/2/2d/LEGO_logo.jpg/revision/latest?cb=20130601154044);
background-repeat:no-repeat;background-size: 530px
;
}